@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(210, 46%, 95%);
    overflow: auto;
}
.main_container{
    width: 80%;
    height: 75vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px , 1fr));
    grid-template-rows:  330px 330px;
    gap: 35px;
    
}
.sectionOne, .sectionTwo, .sectionThree,.sectionFour, .sectionFive{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:1.5em 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.sectionOne{
    grid-column: span 2;
    background-color: hsl(263, 55%, 52%);
    color: white;
    
}
.sectionTwo{
    grid-column: span 1;
    background-color: hsl(217, 19%, 35%);
    color: white;
}
.sectionThree{
    grid-column: span 1;
    background-color: white;
    color: hsl(219, 29%, 14%);
    grid-row: span 2;
}
.sectionFour{
    grid-column: span 1;
    background-color: white;
    color: hsl(219, 29%, 14%);
}
.sectionFive{
    grid-column: span 2;
    background-color: hsl(219, 29%, 14%);
    color: white;
}


.identity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    width: 100%;
}


:is(.sectionFive, .sectionOne) h1{
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 1em 0;
    
}
:is(.sectionFour, .sectionThree, .sectionTwo) h1{
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 1em 0;
}
:is(.sectionFive, .sectionFour, .sectionThree, .sectionTwo, .sectionOne) P{
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: hsl(0, 0%, 81%);
    text-align: justify;
}
:is( .sectionFour, .sectionThree,) P{
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: hsl(217, 19%, 35%);
    text-align: justify;
}
:is(.sectionFive, .sectionFour, .sectionThree, .sectionTwo, .sectionOne) img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
:is(.sectionFive, .sectionTwo, .sectionOne) .identity section span{
    color: hsl(0, 0%, 81%);
}
:is(.sectionFour, .sectionThree) .identity section span{
    color: hsl(217, 19%, 35%);
}


@media screen and (max-width:764px){
    .main_container{
        width: 90%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-template-rows: repeat(auto-fill, 350px);
        gap: 35px;

    }
    .sectionOne{
        grid-column: span 2;
    }
    .sectionTwo{
        grid-column: span 2;
    }
    .sectionThree{
        grid-column: span 2;
    }
    .sectionFour{
        grid-column: span 2;

    }
}

@media screen and (max-width:450px){
    .main_container {
        height: 95vh;
        width: 90%;
        overflow: auto;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(500px, 2fr));
        padding: 50px 0;
    }
}